{% extends "accounts/base.html" %}

{% block content %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
    <h1>Welcome to HealHub</h1>
    <p>The one-stop hub for all your health needs.</p>
    <!-- Buttons container -->
    <div style="display: flex; justify-content: center;">
        <!-- Button for Login -->
        <a href="{% url 'login' %}" style="text-decoration: none; color: white; background-color: #008080; padding: 10px 20px; margin: 5px; border-radius: 5px;">Login</a>
        <!-- Button for Signup -->
        <a href="{% url 'signup' %}" style="text-decoration: none; color: white; background-color: #008080; padding: 10px 20px; margin: 5px; border-radius: 5px;">Signup</a>
    </div>
</div>
{% endblock %}




{% comment %}
{% block content %}
    <title>Welcome To HealHub!</title>
    <h1>Sign up to get started or Login</h1>
    <form method="post" action="/home/">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <div class="alert alert-danger form-error" style="font-size: 0.8em;">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a href="{% url 'login' %}" class="btn btn-primary">Already have an account? Login</a>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        // Hide the errors initially
        $(".form-error").hide();

        // Show the errors when the form is submitted
        $("form").submit(function() {
            $(".form-error").show();
        });
    });
    </script>
{% endblock %} {% endcomment %}
