body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-image: linear-gradient(to bottom, #0d9488, #234e52);
}

header {
  background-color: #4CAF50;
  color: #fff;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background: #f2f2f2;
  padding: 50px 0;
  text-align: center;
}

.services {
  padding: 50px 0;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 30%;
  text-align: center;
}

.booking-form {
  background: #fff;
  padding: 50px 0;
  text-align: center;
}

.booking-form form {
  display: inline-block;
  margin-top: 20px;
}

input,
select,
textarea {
  margin: 10px 0;
  padding: 10px;
  width: 300px;
  display: block;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}