/* Navbar Styles 
.navbar-expand-lg {
    background-color: #234e52; /* Match the footer background for consistency 
}

.navbar-brand, .navbar-nav .nav-link {
    color: white !important; /* Override Bootstrap's colors 
}

.navbar-toggler {
    border-color: white !important; /* Make the toggle button visible 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
*/

/* Custom Buttons */
.custom-btn {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid white;
    /* Customize the border color */
    background-color: transparent;
    color: white;
    /* Initial text color */
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
    background-color: white;
    color: #000000;
    /* Text color on hover */
}

/* Headers */
header {
    text-align: center;
}

.header h1,
.header p {
    color: white;
    /* Ensuring text is white for visibility against the gradient */
}

/* Main Content */
main {
    color: rgb(68, 128, 115);
}

/* Footer Styles */
footer {
    background-color: #234e52;
    /* Adjust as needed for your design */
    color: white;
    padding: 20px 0;
    text-align: center;
}