{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HealHub</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/healhublogo.png' %}" width="30" height="30" alt="HealHub Logo">
            </a>
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">HealHub</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#profile">Profile</a> <!-- Placeholder for profile URL -->
                            <a class="dropdown-item" href="{% url 'login' %}">Login/Signup</a> <!-- Uses Django's built-in auth views -->
                            <a class="dropdown-item" href="#help">Help</a> <!-- Placeholder for help URL -->
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="content" class="min-h-screen flex items-center justify-center bg-gray-100">
        {% if user.is_authenticated %}
            {% block content %}
            {% endblock %}
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'images/healhublogo.png' %}" width="300" height="300" alt="HealHub Logo">
                    </div>
                    <div class="col-md-6">
                        <h1>Welcome to HealHub</h1>
                        <p>HealHub is a platform that connects patients with healthcare providers. Please login or sign up to continue.</p>
                        <a href="{% url 'login' %}" class="btn btn-primary">Login/Signup</a>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

    <footer class="text-center py-4">
        <p>&copy; 2024 HealHub. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
