{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>HealHub</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    {% block extra_css %}
    <link rel="stylesheet" href="/static/accounts/css/hamburger.css">
    {% endblock extra_css %}
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/healhublogo.png' %}" width="30" height="30" alt="HealHub Logo"/>
            </a>
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">HealHub</a>
            </div>
            <!-- New Hamburger Dropdown -->
            <section class="p-menu1">
                <nav id="navbar" class="navigation" role="navigation">
                    <input id="toggle1" type="checkbox" />
                    <label class="hamburger1" for="toggle1">
                        <div class="top"></div>
                        <div class="meat"></div>
                        <div class="bottom"></div>
                    </label>
                    <nav class="menu1">
                        {% comment %} <a class="link1" href="{% url 'login' %}">Login</a> {% endcomment %}
                        <a class="link1" href="{% url 'home' %}">Home</a>
                        {% if user.is_authenticated %}
                        <span class="link1">Welcome, {{ user.username }}</span>
                        <a class="link1" href="{% url 'profile' %}">Profile</a>
                        <a class="link1" href="{% url 'appointments' %}">Appointments</a>
                        <a class="link1" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a class="link1" href="{% url 'login' %}">Login</a>
                        <a class="link1" href="{% url 'signup' %}">Signup</a>
                        {% endif %}

                        {% comment %} <a class="link1" href="{% url 'about' %}">About</a> {% endcomment %}
                        {% comment %} <a class="link1" href="{% url 'blog' %}">Blog</a> {% endcomment %}
                        {% comment %} <a class="link1" href="{% url 'contact' %}">Contact</a> {% endcomment %}
                    </nav>
                </nav>
            </section>
        </nav>
    </header>

    <div id="content" class="min-h-screen flex items-center justify-center bg-gray-100">
            {% block content %}
            {% endblock %}
    </div>

    <footer class="text-center py-4">
        <p>&copy; 2024 HealHub. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
