{% extends "accounts/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/home_html.css' %}" />
<link rel="stylesheet" href="{% static 'accounts/css/hamburger.css' %}" />
{% endblock extra_css %}

{% block content %}
<main class="container mx-auto px-4">
  <header class="py-8">
    <div class="container mx-auto flex justify-center items-center flex-col">
      <h1 class="font-bold text-3xl md:text-5xl text-gray-800 mb-2">
        What is HealHub?
      </h1>
      <p class="text-black text-center mb-8">
        We are a hub for your healing needs. We help you get closer to whatever
        it is that you need in regards to your health.
      </p>
    </div>
  </header>
  <section class="mb-12">
    <h2 class="text-3xl font-bold text-gray-800 text-center">What We Do</h2>
    <p class="text-black mt-4 text-center">
      We provide an easier way for you to book appointments with your doctors.
    </p>
  </section>
  <section class="text-center">

    {% if user.is_authenticated%}
    {% else %}
    <h2 class="font-bold text-3xl text-gray-800 mb-4">
      Are you ready to take a leap for your health?
    </h2>
    <p class="text-black mb-8">Sign Up Now or Login</p>
    <a href="{% url 'login' %}" class="custom-btn" style="background-color: teal; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Login</a>
    <a href="{% url 'signup' %}" class="custom-btn" style="background-color: teal; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Signup</a>
    {% endif %}

  </section>
</main>
{% endblock %}
