{% extends "accounts/base.html" %}

{% load static %}


{% block title %}Heal Hub - Your Virtual Doctor's Appointment Platform{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to Heal Hub, {%if user.profile.doctor is True%}Dr.{{ user.first_name }}{% else %}{{ user.first_name }}{%endif%}</h1>
    <p class="col-md-8 fs-4">Your one-stop platform for managing doctor's appointments easily and efficiently.</p>
    <a href="{% url 'landing'%}"<button class="btn btn-primary btn-lg btn-teal" type="button">Learn More</button></a>
  </div>
</div>

<!-- search Doctor oficces Section -->
<!-- Search Doctor Section -->
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-3">Find a Doctor Near You</h2>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="specialty-input" placeholder="Search by specialty, e.g., Cardiologist" aria-label="Doctor's specialty" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
      </div>
    </div>
    <div id="map" style="height: 400px;"></div>
  </div>
</div>


<!-- Services Section -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/accounts/images/appointments.webp" class="card-img-top" alt="Service 1">
        <div class="card-body">
          <h5 class="card-title text-teal"><strong>Appointment Manager</strong></h5>
            <p class="card-text">In our application, you have the convenience of scheduling appointments
              with certified doctors at your fingertips. This feature ensures that you can easily access
              professional healthcare services when you need them, providing a seamless connection between
              you and qualified medical practitioners. Our commitment to your health is reflected in our dedication
              to offering an efficient and user-friendly scheduling system, allowing you to prioritize your well-being
              with ease and confidence.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/accounts/images/search.webp" class="card-img-top" alt="Service 2">
        <div class="card-body">
          <h5 class="card-title text-teal"><strong>Nearby Doctor office search</strong></h5>
            <p class="card-text">Our application enables you to search for nearby doctor's offices, allowing you to filter
              results based on specialty. This feature is designed to help you find the most suitable medical professionals
              in your vicinity, tailored to your specific healthcare needs. By offering a streamlined approach to locate specialized
              medical services, we facilitate a more efficient and targeted way for you to access the care you require.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/accounts/images/chatbot.webp" class="card-img-top" alt="Service 3">
        <div class="card-body">
          <h5 class="card-title"><strong class="text-teal">AI consultant</strong></h5>
          <p class="card-text">In this platform, you have the opportunity to interact with OpenAI for guidance on which doctors to consult
            based on your symptoms and concerns. It's important to remember, however, that OpenAI is not a certified doctor. While we aim
            to provide helpful recommendations, our advice should not replace professional medical consultation. Always seek the expertise
            of a licensed healthcare provider for accurate diagnoses and treatment plans
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- About Section -->
<div class="container my-5">
  <h2 class="pb-2 border-bottom">About Us</h2>
    <p>Heal Hub is dedicated to simplifying healthcare appointments for everyone. Our platform allows users to easily find doctors,
      book appointments, and manage their healthcare needs from the comfort of their home.</p>
</div>

<!-- Contact Form -->
<div class="container my-5">
  <h2 class="pb-2 border-bottom">Contact Us</h2>
  <form>
    <div class="mb-3">
      <label for="contactName" class="form-label">Name</label>
      <input type="text" class="form-control" id="contactName" placeholder="Your Name">
    </div>
    <div class="mb-3">
      <label for="contactEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="contactEmail" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="contactMessage" class="form-label">Message</label>
      <textarea class="form-control" id="contactMessage" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-teal">Send Message</button>
  </form>
</div>

   <!--Chat box-->
   <div class="chat-container shadow-lg">
    <div class="d-flex justify-content-between align-items-center py-2 px-3 chat-header">
        <!-- Wrap the title in a span or div for better click handling -->
        <span class="flex-grow-1">AI Consultant</span>
        <button type="button" class="btn-close" id="toggle-chat"></button>
    </div>
    <div class="chat-box d-flex flex-column" id="chat-box">
        <div class="messages px-3 py-2" id="messages"></div>
        <div class="d-flex px-3 py-2">
            <input type="text" id="user_input" class="form-control me-2" placeholder="Type your message here..." />
            <button id="send" class="btn btn-outline-primary">Send</button>
        </div>
    </div>
</div>

  <style>
      .chat-container {
          position: fixed;
          bottom: 6%;
          right: 0;
          width: 300px;
          margin: 10px;
          background-color: white;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;

      }
      .chat-header {
          background-color: teal;
          color: white;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
      }
      .chat-box {
          background-color: white;
          flex-grow: 1;
          border: none;
      }
      .messages {
          height: 200px;
          overflow-y: auto;
          background-color: #f8f9fa;
          border: 1px solid #ccc;
      }
      .btn-close {
          color: white;
      }
      .btn-outline-primary {
          color: teal;
          border-color: teal;
      }
      .btn-outline-primary:hover {
          background-color: teal;
          color: white;
      }
  </style>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#send').click(function (e) {
          e.stopPropagation();
          var user_input = $('#user_input').val();
          if (user_input.trim() !== '') {
                  $.ajax({
                      url: '{% url "chatbot"%}',
                      type: 'POST',
                      data: {
                          'user_input': user_input,
                          'csrfmiddlewaretoken': '{{ csrf_token }}',
                      },
                      success: function (data) {
                          $('#messages').append('<div><strong>You:</strong> ' + user_input + '</div>');
                          $('#messages').append('<div><strong>AI:</strong> ' + data.response + '</div>');
                          $('#user_input').val('');
                          $('#messages').scrollTop($('#messages')[0].scrollHeight);
                      },
                      error: function (xhr, status, error) {
                          console.error(error);
                      },
                  });
              }
          });

      });
  </script>

{% endblock %}

