{% extends "accounts/base.html" %}

{% block tittle%}Signup{% endblock %}

{% block content%}
<h1> Sign Up </h1>
<p> And start a better healthy life </p>
<form method="post" action="/signup/">
  {% csrf_token %}
  {% for field in form %}
      <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <small class="form-text text-muted" style="color: black !important;">{{ field.help_text }}</small>
          {% endif %}
          {% if field.errors %}
              <div class="alert alert-danger form-error" style="font-size: 0.8em;">
                  {% for error in field.errors %}
                      {{ error }}
                  {% endfor %}
              </div>
          {% endif %}
      </div>
  {% endfor %}
  <button type="submit" style="text-decoration: none; color: white; background-color: #008080; padding: 10px 20px; margin: 5px; border-radius: 5px;">Signup</button>
  <p>Already have and account? <a href="{% url 'login' %}" style="color: #008080;">Click Here</a></p>
</form>

{% endblock %}
